footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
body {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
